
.wholepage{
  position:absolute;
  left:5%;
  width:100%;
  height:100%;
  border-style: ridge;
  border-width: 5px;
  border-color: #000000;
}

.toptags{
  width: 100%;
  float: left;
  padding-left: 50px;
}

#tag0 {
  width: 15%;
  float: left;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right:50px;
}

#tag1{
  width: 15%;
  float: left;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right:50px;

}

#tag2{
  width: 15%;
  float: left;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
  margin-right:50px;
  text-align: center;
}

#tag3{
  width: 15%;
  float: left;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-right:50px;
  border-right-style: solid;
  border-width: 3px;
  text-align: center;
}

#tag4{
  width: 15%;
  float: left;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
  text-align: center;
}

.bottom{
  padding-left: 50px;
	padding-top: 50px;
  margin-top: 50px;
}

.parent{
  width:100%;
  float:left;
}

.left{
  width:60%;
  float:left;
	border-style: solid;
  border-width: 2px;
  padding-bottom: 20px;
}
.left2{
	margin-top: 20px;
	border-style: solid;
  border-width: 2px;
  width:60%;
  padding-bottom: 50px;
  float:left;

}
.onetimetask{
  border-style: solid;
  border-width: 2px;
}

.everydaytask{
  border-style: solid;
  border-width: 2px;
}

.todylist{
  width:30%;
  float:right;
  border-style: solid;
  border-width: 2px;
  padding-top:50px;
  margin-right:30px;
  margin-top:10px;
}

#oneTime {
  margin-bottom: 0px;
  margin-left: 5px;
}

.singletask{
  width: 95%;
  float:left;
  border-style: solid;
  border-width: 1px;
  margin-top:30px;
	margin-left:20px;
}

.singletask h3, button {
  display: inline-block;
}

.TaskName{
  width: 30%;
  float: left;
  margin-left: 5px;
}

.WorkDate{
  width: 20%;
  float: left;
}

.TimerType {
  width: 10%;
  float: right;
  margin-top: 18px;
  margin-right: 8px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-body {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* center the countdown hour number */
.countdown_hour {
  text-align: center;
}

#Countdown_Outside {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#CountdownTimer {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#Accumulate_Outside {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#AccumulateTimer {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

form {
  width:400px;

}


